user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_worker_connections }};
    }

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;

    keepalive_timeout  65;

    #include {{ nginx_directory }}/{{ nginx_vhosts_folder }}/*.conf;

    vhost_traffic_status_zone;
    server {
        listen       8080 default_server;
        server_name test-1;
        root /var/www/test-1;

        location / {
            index index.html;
        }
        location /status {
            vhost_traffic_status_display;
            vhost_traffic_status_display_format prometheus;
        }
        location /status_vhost {
            vhost_traffic_status_display;
            vhost_traffic_status_display_format html;
        }
    }

    server {
        listen       8080;
        server_name localhost;
        return 404 'No $host server config found';
    }

    upstream django {
        server {{ inventory_hostname }}:8000;
    }

    server {
        listen 8080;
        server_name {{ inventory_hostname }};

        client_max_body_size 50m;

        location / {
            proxy_http_version     1.1;
            proxy_set_header Accept-Encoding "";
            proxy_pass         http://django;
            proxy_set_header      Host $host;
            proxy_set_header      X-Forwarded-For $remote_addr;
            proxy_set_header      X-Real-IP $remote_addr;
            proxy_set_header      X-Forwarded-Proto $scheme;
            proxy_connect_timeout    500ms;
        }
    }
}